@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: #ffffff;
  --background: oklch(1 0 0);
  --foreground: #212121;
  --foreground: oklch(0.145 0 0);
  --card: #ffffff;
  --card: oklch(1 0 0);
  --card-foreground: #212121;
  --card-foreground: oklch(0.145 0 0);
  --popover: #ffffff;
  --popover: oklch(1 0 0);
  --popover-foreground: #212121;
  --popover-foreground: oklch(0.145 0 0);
  --primary: #007b9e;
  --primary: oklch(0.205 0 0);
  --primary-foreground: #ffffff;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #f7f7f7;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: #2e2e2e;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: #f7f7f7;
  --muted: oklch(0.97 0 0);
  --muted-foreground: #737373;
  --muted-foreground: oklch(0.556 0 0);
  --accent: #f7f7f7;
  --accent: oklch(0.97 0 0);
  --accent-foreground: #2e2e2e;
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #d92d43;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #e5e5e5;
  --border: oklch(0.922 0 0);
  --input: #e5e5e5;
  --input: oklch(0.922 0 0);
  --ring: #a3a3a3;
  --ring: oklch(0.708 0 0);
  --chart-1: #f97316;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: #06b6d4;
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: #3b82f6;
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: #eab308;
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: #ef4444;
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #fafafa;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: #212121;
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #2e2e2e;
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: #fafafa;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #f7f7f7;
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: #2e2e2e;
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: #e5e5e5;
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: #a3a3a3;
  --sidebar-ring: oklch(0.708 0 0);
}

button {
  border-radius: 8px;
  /* border: 1px solid transparent; */
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #006884;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: #212121;
  --background: oklch(0.145 0 0);
  --foreground: #fafafa;
  --foreground: oklch(0.985 0 0);
  --card: #2e2e2e;
  --card: oklch(0.205 0 0);
  --card-foreground: #fafafa;
  --card-foreground: oklch(0.985 0 0);
  --popover: #2e2e2e;
  --popover: oklch(0.205 0 0);
  --popover-foreground: #fafafa;
  --popover-foreground: oklch(0.985 0 0);
  --primary: #e5e5e5;
  --primary: oklch(0.922 0 0);
  --primary-foreground: #2e2e2e;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: #3d3d3d;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: #fafafa;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: #3d3d3d;
  --muted: oklch(0.269 0 0);
  --muted-foreground: #a3a3a3;
  --muted-foreground: oklch(0.708 0 0);
  --accent: #3d3d3d;
  --accent: oklch(0.269 0 0);
  --accent-foreground: #fafafa;
  --accent-foreground: oklch(0.985 0 0);
  --destructive: #ef4444;
  --destructive: oklch(0.704 0.191 22.216);
  --border: rgba(255, 255, 255, 0.1);
  --border: oklch(1 0 0 / 10%);
  --input: rgba(255, 255, 255, 0.15);
  --input: oklch(1 0 0 / 15%);
  --ring: #737373;
  --ring: oklch(0.556 0 0);
  --chart-1: #8b5cf6;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: #10b981;
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: #ef4444;
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: #a855f7;
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: #f97316;
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #2e2e2e;
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: #fafafa;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: #8b5cf6;
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: #fafafa;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #3d3d3d;
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: #fafafa;
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: #525252;
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --sidebar: #fafafa;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: #212121;
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: #2e2e2e;
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: #fafafa;
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: #f7f7f7;
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: #2e2e2e;
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: #e5e5e5;
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: #a3a3a3;
    --sidebar-ring: oklch(0.708 0 0);
  }

  .dark {
    --sidebar: #2e2e2e;
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: #fafafa;
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: #8b5cf6;
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: #fafafa;
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: #3d3d3d;
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: #fafafa;
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: rgba(255, 255, 255, 0.1);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: #525252;
    --sidebar-ring: oklch(0.439 0 0);
  }
}

/* remove number input spinners */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}
